[submodule "src/nxd-build-data-product/reference/nextdata-public-examples"]
	path = src/nxd-build-data-product/reference/nextdata-public-examples
	url = https://github.com/nextdata-tech/nextdata-public-examples.git
