[submodule "src/nxd-data-product-builder/reference/nextdata-public-examples"]
	path = src/nxd-data-product-builder/reference/nextdata-public-examples
	url = https://github.com/nextdata-tech/nextdata-public-examples
